### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
.sbtserver/
target/
lib_managed/
src_managed/
project/boot/
### Scala template
*.class
*.log

# sbt specific
.history
.lib/
dist/*
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
